* {
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #333;
  color: #eee;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
input[type="checkbox"]:checked {
  background-color: #666 !important;
  color: #ffffff !important;
}
td {
  padding: 8px 8px;
  border: 1px solid #444;
}
table {
  border-collapse: collapse;
  border: 1px solid #333;
}
tr:nth-of-type(2n) {
  background-color: #444;
}
.message {
  display: block;
  position: absolute;
  top: 0px;
  right: 24px;
  color: #333;
  background-color: #eee;
  padding: 8px;
  font-size: 32px;
  transition: top 600ms;
}
.message:empty {
  top: -32px;
}
a {
  text-decoration: none;

  font-weight: 800;
  color: inherit;
}
.actions a,
button {
  padding: 4px 6px;
  margin: 4px 4px;
  border: 1px solid #eee;
  background-color: #222;
  border-radius: 4px;
  opacity: 0.5;
  color: white;
}
.actions a:hover {
  opacity: 1;
}
#dropzone {
  position: relative;
  width: 400px;

  border: 4px dashed #fff;
}

#dropzone h1 {
  opacity: 0.3;
  text-align: center;
  font-size: 32px;
}
#dropzone li {
  font-size: 12px;
  font-weight: bold;
  z-index: -1;
}
img.thumb {
  width: auto;
  height: 30px;
}

button.logout {
  position: absolute;
  right: 0;
  top: 0;
}
td.hasImg {
  padding: 0px;
}
td.hasImg span {
  display: none;
}

td.hasImg:hover span {
  display: block;
  color: #333;
}

div.imagePreview {
  position: fixed;
  top: 10%;
  left: 25vw;

  z-index: 12000;
  background-color: #fff;
  padding: 8px;
}
div.imagePreview img {
  display: block;
  margin: auto;
  max-width: 50vw;
  max-height: 80vh;
  height: auto;
}
div.imagePreview div {
  text-align: center;
}
